{
    "arrowParens": "avoid",
    "bracketSpacing": false,
    "printWidth": 80,
    "quoteProps": "consistent",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "none"
}
